<!DOCTYPE html>

<html>

<head>
  <title>URL shortener</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&family=Source+Code+Pro:wght@700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header class="header">
    <div class="header-container">
      <a class="logo" href="/">
        <img class="logo__img" src="/img/logo_only.svg" alt="johnapco">
        <h2 class="logo__name">JohnApCo</h2>
      </a>
      <nav class="icons">
        <a class="icon link" href="https://github.com/JohnApCo" target="_blank" rel="noopener nofollow">
          <i class="fa-brands fa-github"></i>
        </a>
        <a class="icon link" href="https://www.linkedin.com/in/johnapco/" target="_blank" rel="noopener nofollow">
          <i class="fa-brands fa-linkedin"></i></a>
        <button class="icon link theme-toggle" id="emoticon-mode" rel="noopener nofollow">
          <i class="fa fa-moon"></i>
        </button>
      </nav>
    </div>
    <script>
      (function(d, w, ls) {
        const $btn = d.querySelector(".theme-toggle");
        let prefersDark = w.matchMedia('(prefers-color-scheme: dark)').matches,
          lightIcon = `<i class="fa-solid fa-sun"></i>`,
          darkIcon = `<i class="fa-solid fa-moon"></i>`;

        function lightMode() {
          ls.setItem("theme", "light");
          d.querySelector(":root").classList.add("light");
          d.querySelector(":root").classList.remove("dark");
          $btn.innerHTML = lightIcon;
        }

        function darkMode() {
          ls.setItem("theme", "dark");
          d.querySelector(":root").classList.remove("light");
          d.querySelector(":root").classList.add("dark");
          $btn.innerHTML = darkIcon;
        }

        if (ls.getItem("theme") === null) {
          if (prefersDark) {
            ls.setItem("theme", "dark");
          } else {
            ls.setItem("theme", "light");
          }
        }

        if (ls.getItem("theme") === "dark") darkMode();
        if (ls.getItem("theme") === "light") lightMode();

        $btn.addEventListener("click", (e) => (ls.getItem("theme") === "dark") ? lightMode() : darkMode());
      })(document, window, localStorage);
    </script>
  </header>
  <main class="main flex-center">
    <section class="container-lg">
      <h1>Page not found</h1>
      <img src="/img/404_error.svg" alt="not found" height="300px">
    </section>
  </main>
  <footer class="footer">
    <script>
      document.write(new Date().getFullYear())
    </script> | Coded with <i class="fa fa-heart"></i> by <a href="https://www.linkedin.com/in/johnapco/" target="_blank" rel="noopener noreferrer">JohnApCo</a>
  </footer>
</body>

</html>