<!DOCTYPE html>

<html>

<head>
  <title>URL shortener</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&family=Source+Code+Pro:wght@700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header class="header">
    <div class="header-container">
      <a class="logo" href="/">
        <img class="logo__img" src="img/logo_only.svg" alt="johnapco">
        <h2 class="logo__name">JohnApCo</h2>
      </a>
      <nav class="icons">
        <a class="icon link" href="https://github.com/JohnApCo" target="_blank" rel="noopener nofollow">
          <i class="fa-brands fa-github"></i>
        </a>
        <a class="icon link" href="https://www.linkedin.com/in/johnapco/" target="_blank" rel="noopener nofollow">
          <i class="fa-brands fa-linkedin"></i></a>
        <button class="icon link theme-toggle" id="emoticon-mode" rel="noopener nofollow">
          <i class="fa fa-moon"></i>
        </button>
      </nav>
    </div>
    <script>
      (function(d, w, ls) {
        const $btn = d.querySelector(".theme-toggle");
        let prefersDark = w.matchMedia('(prefers-color-scheme: dark)').matches,
          lightIcon = `<i class="fa-solid fa-sun"></i>`,
          darkIcon = `<i class="fa-solid fa-moon"></i>`;

        function lightMode() {
          ls.setItem("theme", "light");
          d.querySelector(":root").classList.add("light");
          d.querySelector(":root").classList.remove("dark");
          $btn.innerHTML = lightIcon;
        }

        function darkMode() {
          ls.setItem("theme", "dark");
          d.querySelector(":root").classList.remove("light");
          d.querySelector(":root").classList.add("dark");
          $btn.innerHTML = darkIcon;
        }

        if (ls.getItem("theme") === null) {
          if (prefersDark) {
            ls.setItem("theme", "dark");
          } else {
            ls.setItem("theme", "light");
          }
        }

        if (ls.getItem("theme") === "dark") darkMode();
        if (ls.getItem("theme") === "light") lightMode();

        $btn.addEventListener("click", (e) => (ls.getItem("theme") === "dark") ? lightMode() : darkMode());
      })(document, window, localStorage);
    </script>
  </header>
  <main class="main">
    <section class="container-lg">
      <h1 class="text-center">
        <span>Short</span><span class="text-primary">Url</span><wbr><span>Microservice</span>
      </h1>
    </section>
    <section class="container-lg api-examples">
      <!-- Create short URL -->
      <article class="card">
        <h2 class="card__title">Create short URL</h2>
        <pre>
          <span class="key">POST</span> /api/shorturl
        </pre>
        <form action="api/shorturl" method="POST">
          <!-- <fieldset>
            <legend>Url to shortener</legend> -->
          <label class="label" for="url_input">URL:</label>
          <div class="input">
            <input class="input__data" id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input class="input__btn" type="submit" value="Post URL" />
          </div>
          <!-- </fieldset> -->
        </form>
      </article>
      <!-- Use API -->
      <article class="card">
        <h2 class="card__title">Use short URL</h2>
        <pre>
          <span class="key">GET</span> /api/shorturl/:short_url
        </pre>
        <span class="label">This:</span>
        <pre>
          /api/shorturl/3
        </pre>
        <span class="label">Will redirect to:</span>
        <pre>
          https://forum.freecodecamp.org/
        </pre>
        <form action="api/shorturl/3" method="GET">
          <button class="btn" type="submit">Try it</button>
        </form>
      </article>
    </section>
  </main>
  <footer class="footer">
    <script>
      document.write(new Date().getFullYear())
    </script> | Coded with <i class="fa fa-heart"></i> by <a href="https://www.linkedin.com/in/johnapco/" target="_blank" rel="noopener noreferrer">JohnApCo</a>
  </footer>
</body>

</html>